#header { font-family: 'Eagle Lake', cursive;
    /*border: 1px solid deeppink; */
    border-bottom: 2px ridge rgba(100,100,100,1);
    /* pixilation style (red,green,blue,opacity) */
    padding: .5%;
    display: inline-flex;
    width: 98%; 
    }   
.subHeader { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    /*border: 1px solid deeppink;*/
    min-height: 25px;
    width: 100%;
    /*display: inline-flex;*/
}        
#homeIcon { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); font-size: 20px; text-align: left; color: white; text-decoration: none;
    background-image: url('/app/images/avatarKorra.jpg'); background-size: contain; background-repeat: no-repeat;
    /*border: 1px solid yellow;*/
    padding: .25%;  
    width: 150px;
    }
#homeIcon a:link { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white; text-decoration: none; }   
#homeIcon a:visited { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white; text-decoration: none; }   
#homeIcon a:hover { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white; text-decoration: none; }

#search { color: darkslateblue; font-size: 20px; text-align: right;
    /*border: 1px solid springgreen;  */
    height: 50px;
    min-width: 500px; width: 100%;
    }
#submit { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); font-family: 'Eagle Lake', cursive; color: mediumslateblue; font-size: 15px;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;
    border: 1px solid mediumslateblue; border-radius: 5px;     
    border-radius: 0 5px 5px 0;
    min-height: 32.5px; height: 100%; max-height: 52.5px;
    width: 100px;  
    float: right; 
    }
#submit:hover { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white;
    border: 1px solid darkslateblue; border-radius: 0 5px 5px 0;
    background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue; 
    }
#searchInput { font-family: 'Fondamento', cursive; color: black; text-align: left; font-size: 20px;
    background-image: url('/app/images/cloud.jpg'); background-size: cover; background-repeat: no-repeat; background-color: white;
    border-radius: 5px; border: 1px solid mediumslateblue;
    float: right;
    border-radius: 5px 0 0 5px;
    min-height: 32.5px; height: 100%; max-height: 52.5px;
    width: 300px;
    float: right; 
    }
    
#headerMenu { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: mediumslateblue; font-size: 20px; text-align: right;
    /*border: 1px solid blue;*/
    }
#headerMenu a:link { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white; text-decoration: none; 
    border: 1px solid mediumslateblue; border-radius: 5px;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue; 
    }  
#headerMenu a:visited { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: mediumslateblue; text-decoration: none; 
    border: 1px solid mediumslateblue; border-radius: 5px;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;; 
    }
#headerMenu a:hover { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1); color: white; text-decoration: none; 
    border: 1px solid darkslateblue; border-radius: 5px;
    background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue;
    }
#headerMenuButton { text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    padding: .5%; 
}
    /*
    border: 1px solid grey; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;

    border: 1px solid mediumslateblue; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;

    border: 1px solid darkslateblue; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue;
    
    border: 1px solid orange; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/lightOrange.jpg'); background-color: orangered;

    border: 1px solid darkred; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/darkOrange.jpg'); background-color: maroon;
    */    