html { 
    height: 100%; width: 100%; }

body { border: 1px solid lightgrey;
    background-color: white;
    height: 97%;
    width: 98.5%; }

.header {
    border: 1px solid black; 
    padding: .5%; }   
    
.homeIcon {
    border: 1px solid black;
    font-family: 'Slackey', cursive;
    font-size: 20px; 
    text-align: left; 
    float: left;
    color: black;
    padding: .25%;
    text-decoration: none;
}
.homeIcon a:link { color: black; text-decoration: none; }   
.homeIcon a:visited { color: black; text-decoration: none; }   
.homeIcon a:hover { color: black; text-decoration: none; }


.search {
    float: right;
    color: black; 
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    height: 30px;
    width: 25%;
}

.submit {
    float: right;
    color: black; 
    font-size: 15px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    height: 30px;    
}

.menu {
    /*float: right;*/
    /*display: none;*/
    border: 1px solid black;
    color: black; 
    font-size: 15px; 
    text-align: right;
    padding: 1%;
     }
.menu a:link { color: black; text-decoration: none; border: 1px solid lightgrey; }  
.menu a:visited { color: black; text-decoration: none; border: 1px solid lightgrey; }
.menu a:hover { color: black; text-decoration: none; border: 1px solid black; }

.login { padding: .5%; }
.logout { padding: .5%; }
.account { padding: .5%; }
.cart { padding: .5%; }



