<!--<script type="text/ng-template" id="/register.html">  -->
<div id="registrationView">
    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()">
        <div id="registration">
            <input type="text" class="signUpInput" placeholder="Create Username" ng-model="user.username">
            <br>
            <input type="password" class="signUpInput" placeholder="Create Password" ng-model="user.password">
            <br>
            <button type="submit" class="signUpSubmit">Create Account</button>
        </div>
    </form>
</div>
<!--</script>-->