<div id="registrationView">
    <div ng-show="error">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()">
        <div id="registration">
            <input id="registrationInput" type="text" placeholder="Create Username" ng-model="user.username" required>
            <br>
            <input id="registrationInput" type="password" placeholder="Create Password" ng-model="user.password" required>
            <br>
            <button id="registrationSubmit" ng-click="toggle();" type="submit">Create Account</button>
        </div>
    </form>
</div>