<div class="orderId">{{ orderId }}</div>
<div id="homeView" ng-controller="productController">
    <div class="productCard" ng-repeat="product in products track by $index">
        <img class="productPhoto" src="{{product.image}}">
        <div class="productInfo">
            <div class="productText">
                <p>{{product.title}}</p>
                <p>{{product.description}}</p>
                <p>{{product.quantity}} Atom</p>
                <p>VIN# {{product._id}}</p>
                <p>${{product.price}}</p>
                <!--<p>Reviews: {{reviews}}</p>-->
            </div>
            <a class="addButton" ng-click="addProductToOrder(product._id)">Add {{product.title}}</a>
        </div>
    </div>

</div>