#orderView { text-align: center; 
    opacity: white .5;
    padding: .75% .75% .75% 1.75%;
    }
.order { color: white; text-align: center;
    /*border: 1px solid red;*/ 
    min-height: 525px; max-height: 100%;
    min-width: 200px; max-width: 98%;
    padding: .5%; 
    margin: 0 0 .5% 0; 
    }
.profileRow { text-align: center;
    /*border: 1px solid green;*/
    width: 98%;
    display: inline-flex; flex-wrap: wrap;
    }
.information { font-family: 'Fondamento', cursive; font-size: 20px; text-align: left;
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
    border-radius: 30px; /*border: 1px solid grey;*/ background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;
    padding: .5%; margin: .5%;  
    min-width: 31%; max-width: 100%;
    min-height: 150px; 
    }
.information p { text-align: left; font-size: 20px; color: lightgrey;
    margin: 5% 0;  
    }  
.orderInfo { font-size: 20px; text-align: left; color: lightgrey;
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
    border-radius: 10px; /*border: 1px solid grey;*/ background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;
    padding: .5%; margin: .5%;  
    min-width: 31%; max-width: 550px;
    min-height: 150px; 
    }
.orderMenu { font-size: 20px; text-align: center;
    padding: .5%;
    margin: .5%;  
    min-width: 150px; width: 100%; 
    min-height: 50px; 
    }
.orderMenuButton:link { font-family: 'Eagle Lake', cursive; text-decoration: none; font-size: 20px; color: mediumslateblue;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;    
    border: 1px solid mediumslateblue; border-radius: 5px;  
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    padding: .75%;
    }
.orderMenuButton:visited { font-family: 'Eagle Lake', cursive; color: mediumslateblue; text-decoration: none;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;
    border: 1px solid mediumslateblue; border-radius: 5px;    
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);  
    padding: .75%;
    }
.orderMenuButton:hover { font-family: 'Eagle Lake', cursive; color: white; text-decoration: none;
    border: 1px solid darkslateblue; border-radius: 5px;
    background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue;
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);      
    padding: .75%;
    }
.orderFinalizationButton:link { font-family: 'Eagle Lake', cursive; color: mediumslateblue; text-decoration: none; font-size: 20px;
    background-image: url('/app/images/lightOrange.jpg'); background-color: orangered;
    border: 1px solid orangered; border-radius: 5px;  
    padding: .75%; 
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
 
    }
.orderFinalizationButton:visited { font-family: 'Eagle Lake', cursive; color: coral; text-decoration: none;
    border: 1px solid orangered; border-radius: 5px;
    background-image: url('/app/images/lightOrange.jpg'); background-color: orangered; 
    padding: .75%;
    }
.orderFinalizationButton:hover { font-family: 'Eagle Lake', cursive; color: white; text-decoration: none; 
    background-image: url('/app/images/darkOrange.jpg'); background-color: maroon;
    border: 1px solid darkred; border-radius: 5px; 
    padding: .75%;
}

    /*
    border: 1px solid grey; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;

    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;
    border: 1px solid mediumslateblue; border-radius: 5px; background-size: cover;

    border: 1px solid darkslateblue; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue;
    
    border: 1px solid orange; border-radius: 5px; background-size: cover;
    background-image: url('/app/images/lightOrange.jpg'); background-color: orangered;

    background-image: url('/app/images/darkOrange.jpg'); background-color: maroon;
    border: 1px solid darkred; border-radius: 5px; background-size: cover;
    */