<div id="orderView">

    <div class="orderViewRow">
        <div class="accountInfo">
            Profile
            <p>{{user.name}}</p>
            <p> {{user.username}}</p>
            <p>{{user.emailAddress}}</p>
            <p>{{user.phoneNumber}}</p>
        </div>
        <div class="accountInfo">
            Billing Address
            <p>{{user.resident}}</p>
            <p>{{user.street}}</p>
            <p>{{user.city}}, {{user.state}}</p>
            <p>{{user.zip}} {{user.country}}</p>
        </div>
        <div class="accountInfo">
            Card Information Card Information
            <p>{{user.cardCompany}}</p>
            <p>{{user.cardName}}</p>
            <p>xxxx xxxx xxxx {{user.cardNumber}} : {{user.securityCode}}</p>
            <p>Exp: {{user.mm}}/{{user.yyyy}}</p>
        </div>
    </div>

    <div class="orderViewRow">
        <div class="accountRow">
            <a class="accountButton" href="/#/order">EDIT INFORMATION</a>
            <a class="accountButton" href="/#/order">DELETE ACCOUNT</a>
        </div>
    </div>

    <div class="orderViewRow">
        <div class="orderTable">
            <div class="orderInfo" ng-repeat="product in consolidatedProducts track by $index">
                <p>{{product.title}}</p>
                <p>{{product.counter}} atom(s) ${{product.price()}}</p>
            </div>
        </div>
    </div>
    <div class="orderViewRow">
        <div class="accountRow">
            <a class="accountButton" href="/#/order">EDIT ORDER</a>
            <a class="accountButton" href="/#/order">CANCEL ORDER</a>
        </div>
    </div>
    <div class="orderTotalRow">
        <div class="orderTotal">Total: ${{totalPrice()}}</div>
        <div class="orderTotal">Do you have the coin?</div>
    </div>
    <div class="orderButtonRow">
        <div class="glitchSpace"></div>
        <a class="orderButton" ng-click="finalizeOrder()">FINALIZE ORDER</a>
    </div>

    <div class="orderButtonRow" id="OHH">
        Your Order History
    </div>

    <div class="orderViewRow">
        <div class="history" ng-repeat="history in historiesArray">
            <div class="orderHistory" ng-repeat="order in history.order">
                <p>Order Number: {{ order._id }}</p>
                <p>Placed: {{ order.placed }}</p>
            </div>
            <p>Order Tracking Number: {{ history._id }}</p>
        </div>
    </div>

</div>