#orderView { text-align: center; color: white; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    opacity: white .5;
    /*border: 1px solid white;*/
    padding: .75% .75% .75% 1.75%;   
    }
.orderViewRow { text-align: center; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    /*border: 1px solid green;*/
    width: 98%;
    display: inline-flex; flex-wrap: wrap;
    }
.accountInfo { font-family: 'Fondamento', cursive; font-size: 20px; text-align: center; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
    /*border-radius: 30px; border: 1px solid blue;*/ background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;
    padding: .5%; margin: .5%;  
    min-width: 31%; max-width: 100%;
    min-height: 150px; 
    }
.accountInfo p { text-align: left; font-size: 20px; color: lightgrey;
    /*border: 1px solid yellow;*/
    text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    padding: 0 5%;
    margin: 5% 0;
    height: 25px; 
    } 
.accountRow { font-size: 20px; text-align: center;
    /*border: 1px solid yellowgreen;*/
    padding: .5%;
    margin: .5%;  
    min-width: 150px; width: 100%;
    height: 50px;
    }    
.accountButton { font-family: 'Eagle Lake', cursive; text-decoration: none; font-size: 20px; color: mediumslateblue;
    background-image: url('/app/images/lightBlue.jpg'); background-color: darkslateblue;    
    /*border: 1px solid mediumslateblue;*/ border-radius: 5px;  
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    margin: 0 .5%;      
    padding: .75%;   
    }
.accountButton:hover { color: white;background-image: url('/app/images/darkBlue.jpg'); background-color: midnightblue;border: 1px solid darkslateblue; }
            
.orderTable { text-align: center; font-size: 30px;
    border-radius: 10px; /*border: 1px solid grey;*/ background-size: cover;
    background-image: url('/app/images/moonDust.jpg'); background-color: white;
    -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); -moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
    /*border: 1px solid darkred;*/
    text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    display: inline-flex; flex-wrap: wrap;
    padding: .5%;
    margin: auto;
    }     
.orderInfo { font-size: 20px; text-align: left; color: white;
    /*border: 1px solid rebeccapurple;*/
    padding: .5% 1%; 
    margin: .5%;  
    min-width: 150px; max-width: 550px;
    min-height: 150px; 
    }    
.orderTotalRow { font-size: 20px; text-align: center;
    /*border: 1px solid orange;*/
    padding: .5%;
    margin: .5%; 
    min-height: 50px; 
    }
.orderTotal { font-family: 'Fondamento', cursive; color: white; text-align: right; font-size: 25px; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    /*border: 1px solid darkturquoise;*/
}  
.orderButtonRow {
    /*border: 1px solid greenyellow;*/
    width: 98%;
    display: inline-flex;
    text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    padding: .5%;
    } 
    
.glitchSpace {
    /*border: 1px solid red;*/
    width: 100%;
}    
.orderButton { font-family: 'Eagle Lake', cursive; font-size: 20px; color: coral; text-decoration: none;
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75); 
    background-image: url('/app/images/lightOrange.jpg'); background-color: orangered;
    /*border: 1px solid orangered;*/ border-radius: 5px;  
    margin: 0 .5%;  
    padding: .75%;    
    }
.orderButton:hover { color: white;background-image: url('/app/images/darkOrange.jpg'); background-color: maroon;border: 1px solid darkred; }

#OHH { font-family: 'Fondamento', cursive; font-size: 30px; color: white; text-align: center; 
    /*border: 1px solid yellow;*/
    margin: .75%;
    padding: .75%;
    }
.history { font-family: 'Fondamento', cursive; font-size: 20px; color: lightgrey; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    background-image: url('/app/images/moonDust.jpg'); background-color: white; background-size: cover; background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);   
    /*border: 1px solid red;*/ border-radius: 5px;
    /*display: inline-flex;*/
    width: 45%;
    padding: 1%;
    margin: .75%;
    }
/*.history p { border: 1px solid limegreen; }*/
.orderHistory { text-align: left; color: white; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    /*border: 1px solid white;*/
    padding: .5%;
    }