html { background-color: lightgrey; height: 100%; width: 100%; }

body { 
    /*border: 1px solid grey;*/
    background-color: white;
    height: 97%;
    width: 98.5%; }

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */

#header {
    /*border: 1px solid black;*/
    padding: .5%; }   
    
#homeIcon {
    /*border: 1px solid black;*/
    font-size: 20px; 
    text-align: left; 
    float: left;
    color: black;
    padding: .25%;
    text-decoration: none;
}
#homeIcon a:link { color: black; text-decoration: none; }   
#homeIcon a:visited { color: black; text-decoration: none; }   
#homeIcon a:hover { color: black; text-decoration: none; }

#search {
    /*border: 1px solid black;*/
    color: black; 
    font-size: 15px; 
    text-align: right;
    margin-bottom: 3.25%;
}

#submit {
    border: 1px solid lightgrey;
    color: black; 
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    height: 30px;
    width: 10%;  
    float: right;  
}

#searchInput {
    border: 1px solid lightgrey;
    float: right;
    color: black; 
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    height: 30px;
    width: 25%;
    float: right;
}

#menu {
    /*border: 1px solid black;*/
    color: black; 
    font-size: 15px; 
    text-align: right;
    padding: 1%;
     }
#menu a:link { color: black; text-decoration: none; border: 1px solid lightgrey; }  
#menu a:visited { color: black; text-decoration: none; border: 1px solid lightgrey; }
#menu a:hover { color: black; text-decoration: none; border: 1px solid black; }

#menuButton { padding: .5%; }

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

.footer {
    /*border: 1px solid black;*/
    background-color: white;
    text-align: center;  
    margin: auto;
}

.footerBox {
    /*border: 1px solid black;*/
    text-align: center;
    height: 200px;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: .5%;
    display: inline-flex;
}

.box {
    /*border: 1px solid darkgrey;*/
    background-color: white;
    text-align: center;
    height: 175px;
    min-width: 150px; width: 100%;
    padding: .5%;
    margin: .5%;
}
.box p {
    text-align: center;
    font-size: 15px;
    color: grey;
}

i.fa {display: inline;}
.socialMedia {text-align: center; opacity: .5; padding: 1%; /*border: 1px solid black;*/ }
.fa-facebook-official { color: black;font-size: 25px;width: 100%;height: 15px;margin: 0 5%;}
.fa-facebook-official:hover { color: royalblue; text-decoration: none;margin: 0 5%;}
.fa-twitter {color: black; font-size: 25px; width: 100%; height: 15px;margin: 0 5%;}
.fa-twitter:hover {color: skyblue; text-decoration: none;margin: 0 5%;}
.fa-instagram {color: black; font-size: 25px; width: 100%; height: 15px;margin: 0 5%;}
.fa-instagram:hover {color: tan; text-decoration: none;}
.fa-vine {color: black; font-size: 25px; width: 100%; height: 15px;margin: 0 5%;}
.fa-vine:hover {color: springgreen; text-decoration: none;margin: 0 5%;}
.fa-soundcloud {color: black; font-size: 25px; width: 100%; height: 15px;margin: 0 5%;}
.fa-soundcloud:hover {color: orangered; text-decoration: none;}
.fa-linkedin-square { color: black; font-size: 25px; width: 100%; height: 15px;margin: 0 5%;}
.fa-linkedin-square:hover {color: midnightblue; text-decoration: none;}

.copyright {/*border: 1px solid black;*/ color: grey;font-size: 10px;text-align: center; width: 98%;height: 15px; padding: 1%;}

/* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT */
/* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT */
/* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT *//* ACCOUNT */
.accountView {
    border: 1px solid black;
    background-color: lightgrey;
    text-align: center;
    height: 550px;
    padding: .5%;
}

.profile {
    border: 1px solid black;
    text-align: left;
    min-height: 200px; height: 97.5%;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: 0 0 .5% 0;
    display: inline-flex;
}

.information {
    border: 1px solid darkgrey;
    background-color: white;
    text-align: left;
    height: 95%;
    min-width: 150px; width: 100%;
    padding: .5%;
    margin: .5%;    
}
.information p{ text-align: left; font-size: 25px; margin: 10% 0; color: grey; }

/*.recentViews {
    overflow-y: auto;
    height: 300px;
} */

/*.recentViewsA {
    border: 1px solid darkgrey;
    background-color: white;
    text-align: left;
    height: 200px;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: 0 0 .5% 0;
}*/
/*.recentViewsB {
    border: 1px solid darkgrey; 
    background-color: white;
    text-align: left;
    height: 200px;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: 0 0 .5% 0;    
}*/
/*.recentViewsC {
    border: 1px solid darkgrey;
    background-color: white;    
    text-align: left;
    height: 200px;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: 0 0 .5% 0;    
}*/

/* CART *//* CART *//* CART *//* CART *//* CART *//* CART */
/* CART *//* CART *//* CART *//* CART *//* CART *//* CART */
/* CART *//* CART *//* CART *//* CART *//* CART *//* CART */

/*.cartView {
    border: 1px solid Black;
    background-color: lightgrey;
    text-align: center;
    height: 550px;
    padding: .5%;
    margin: auto;
}*/

/* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME */
/* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME */
/* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME */

#productView {
    border: 1px solid black;
    background-color: lightgrey;
    height: 550px;
    overflow-y: auto;
}

#productBox {
    border: 1px solid black; background-color: white;
    min-width: 573.91px; width: 32.0385%;
    padding: .5%;
    display: inline-flex;
}

#productPhoto {
    border: 1px solid black; background-color: grey;
    min-height: 300px;
    min-width: 300px;
    margin: .5%;
    }

#productInfo { 
    /*border: 1px solid black;*/  background-color: white;
    min-width: 200px; width: 100%; max-width: 550px;
    margin: .5%;
}

#p {
    /*border: 1px solid black;*/
    height: 250px;   
    margin: 2.5%; overflow-x: auto;   
    text-align: left; font-size: 25px; color: grey;  
}

#purchaseButton {
    border: 1px solid darkgrey; background-color: grey;
    max-height: 50px; 
    float: right;
    text-align: center; font-size: 25px; color: white; text-decoration: none;
}

/* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY */
/* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY */
/* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY *//* INVENTORY */
.inventoryView {
    border: 1px solid black;
    /*background-color: lightgrey;*/
    text-align: center;
    height: 550px;
    padding: .5%;
}

/* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN */
/* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN */
/* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN *//* LOGIN */
#loginView {
    border: 1px solid black;
    background-color: lightgrey;
    text-align: center;
    height: 550px;
    padding: .5%;
}

#login {
    border: 1px solid black;    
    padding: .5%;
    margin: 2.5%;
}

.loginInput { 
    border: 1px solid grey;    
    border-radius: 5px;
    font-size: 15px;
    height: 20px;
    width: 25%;
    padding: .5%;
    margin: 2.5%;
}

.loginSubmit { 
    border-radius: 5px;
    color: black; 
    border: 1px solid black; 
    background-color: white; 
    margin: 2.5%; 
    }
/* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT */
/* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT */
/* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT *//* LOGOUT */

.logoutView {
    border: 1px solid black;
    /*background-color: dimgrey;*/
    text-align: center;
    height: 550px;
    padding: .5%;
}

/* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER */
/* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER */
/* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER *//* ORDER */

#orderView {
    border: 1px solid black;
    /*background-color: lightgrey;*/
    text-align: center;
    height: 550px;
    padding: .5%;
}

/* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION */
/* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION */
/* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION *//* REGISTRATION */

#registrationView {
    border: 1px solid black;
    background-color: lightgrey;
    text-align: center;
    height: 550px;
    padding: .5%;
}

#registration {
    border: 1px solid black;
    text-align: center;
    min-height: 50px; height: 97.5%;
    min-width: 200px; width: 98%;
    padding: .5%;
    margin: 0 0 .5% 0;
    display: inline-flex; 
}

#registrationInput { 
    border: 1px solid grey; 
    background-color: white;  
    text-align: left; 
    font-size: 15px;
    height: 95%;
    min-width: 150px; width: 100%;
    padding: .5%;
    margin: .5%;
    border-radius: 5px;
}

#registrationSubmit { 
    border-radius: 5px;
    color: black; 
    border: 1px solid black; 
    background-color: white; 
    margin: 2.5%; 
    }
.registrationSubmit a:link { color: black; text-decoration: none; }
.registrationSubmit a:visited { color: black; text-decoration: none; }
.registrationSubmit a:hover { color: black; text-decoration: none; }
